@tailwind base;
@tailwind components;
@tailwind utilities;

.fc {
  --fc-border-color: transparent;
}

.fc-daygrid-day {
  border: none;
}

.fc-daygrid-day-frame {
  background: white;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin: 4px;
}

.fc-daygrid-day-number {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-weight: 500;
  font-size: 0.95rem;
}

.fc-daygrid-day.fc-day-today .fc-daygrid-day-frame {
  background-color: #2563eb; /* blue-600 */
  color: white;
}

.fc-toolbar-title {
  display: hidden;

}

.fc-button {
  background: transparent;
  border: none;
  color: #111827;
  box-shadow: none;
  }

.fc-toolbar {
  margin-bottom: 1rem;
}
