@tailwind base;
@tailwind components;
@tailwind utilities;

.fc {
  --fc-border-color: transparent;
}

.fc-daygrid-day {
  border: none;
}

.fc-daygrid-day-frame {
  background: white;
  border-radius: 0.75rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.fc-daygrid-day-number {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  font-weight: 500;
  font-size: 0.95rem;
}

.fc-daygrid-day.fc-day-today .fc-daygrid-day-frame {
  border: 2px solid #E4E4E4;
  box-shadow: none;
}

.fc-daygrid-day.fc-daygrid-day.fc-day-today {
  background: none;
}

.fc-button {
  background: transparent;
  border: none;
  color: #111827;
}

.fc-daygrid-event {
  display: none;
}

.fc-daygrid-day-frame:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}